
# Godot 4+ specific ignores
.godot/
!res://.godot/uid_cache.bin

# Godot Export templates
*.a
*.apk
*.app
*.ipa
*.macos.zip
*.pck
*.pkg
*.tar.zip
*.x86_64
*.x86_32

# C# / .NET specific ignores
.idea/
.vscode/
bin/
obj/
Export/
export_presets.cfg